*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  /* background: #464646; */
}
.header-cont {
  width: 100vw;
  height: 5rem;
  border:  1px solid;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 2rem;
  color: rgb(155, 213, 247);
}
.search-bar {
  border: 1px solid gray;
  width: 60%;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.search-bar span{
  width: 3rem;
  height: 100%;
  /* border: 1px solid blue; */
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar span> * {
  width: 2rem;
  height: 100%;
  color: gray;
}
.search-bar input{
  height: 100%;
  width: calc(100% - 2rem);
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  font-size: 1.2rem;
  color: gray;
}
.account, .cart{
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 10px; 
  cursor: pointer;
}
.account p{
  display: flex;
  align-items: center;
}
.cart{
  width: 5rem;
}